.todo-card {
    width: 100%;
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgb(199, 195, 190);
    display: flex;
    flex-direction: column;
    padding: 15px;
    box-sizing: border-box;
}

hr {
    width: 100%;
    border: 2px solid black;
}

textarea {
    border-radius: 5px;
}