.todo-card {
    width: 100%;
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgb(199, 195, 190);
    display: flex;
    flex-direction: row;
    padding: 15px;
    box-sizing: border-box;
    justify-content: space-between;
    margin-bottom: 10px;
}

.delete-button,
.status-button {
    max-width: 40px;
    max-height: 40px;
}

.delete-button {
    background-color: rgb(244, 138, 130);
}